/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Global */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

html,
body {
  height: 100%;
}

body > section {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Empty */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.empty {
  page-break-after: always;
  height: 1px;
  display: block;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Cover */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.cover {
  page-break-after: always;
  display: table;
  width: 100%;
  height: 100%;
}

.cover > .top,
.cover > .middle,
.cover > .bottom {
  display: table-row;
}

.cover > .top > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  text-align: center;
}

.cover > .middle > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.cover > .bottom > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.cover h1 {
  font-size: 3em;
}

.cover h2 {
  font-size: 2em;
  margin: 0;
}

.cover h3 {
  font-size: 1em;
  margin: 0;
}

.cover img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Title */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.title {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.title > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.title p,
.title h1,
.title h2,
.title h3 {
  width: 100%;
  text-align: center;
}

.title h1 {
  margin-bottom: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Half-title */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.half-title {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.half-title > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.half-title p,
.half-title h1 {
  width: 100%;
  text-align: center;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Copyright */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.copyright {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.copyright > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.copyright p,
.copyright h2 {
  width: 100%;
  text-align: center;
  font-size: 0.5em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Dedication */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.dedication {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.dedication > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.dedication p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Epigraph */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.epigraph {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.epigraph > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.epigraph p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Preface */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.preface {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.preface > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.preface p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Foreword */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.foreword {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.foreword > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.foreword p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Chapter */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.chapter {
  page-break-before: always;
  page-break-after: always;
  display: table;
  width: 100%;
  height: 100%;
}

.chapter > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.chapter p,
.chapter h1,
.chapter h2,
.chapter h3 {
  width: 100%;
  text-align: center;
}

.chapter h1 {
  margin-bottom: 1em;
}
