/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Global */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

html,
body {
  height: 100%;
}

body > section {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Empty */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.empty {
  page-break-after: always;
  height: 1px;
  display: block;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Couverture */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.couverture {
  page-break-after: always;
  display: table;
  width: 100%;
  height: 100%;
}

.couverture > .top,
.couverture > .middle,
.couverture > .bottom {
  display: table-row;
}

.couverture > .top > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  text-align: center;
}

.couverture > .middle > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.couverture > .bottom > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.couverture h1 {
  font-size: 3em;
}

.couverture h2 {
  font-size: 2em;
  margin: 0;
}

.couverture h3 {
  font-size: 1em;
  margin: 0;
}

.couverture img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Titre */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.titre {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.titre > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.titre p,
.titre h1,
.titre h2,
.titre h3 {
  width: 100%;
  text-align: center;
}

.titre h1 {
  margin-bottom: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Faux titre */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.faux-titre {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.faux-titre > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.faux-titre p,
.faux-titre h1 {
  width: 100%;
  text-align: center;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Ours */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.ours {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.ours > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.ours p,
.ours h2 {
  width: 100%;
  text-align: center;
  font-size: 0.5em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Dédicace */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.dedicace {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.dedicace > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.dedicace p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Épigraphe */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.epigraphe {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.epigraphe > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.epigraphe p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Préface */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.preface {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.preface > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.preface p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Avant-propos */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.avant-propos {
  page-break-before: always;
  display: table;
  width: 100%;
  height: 100%;
}

.avant-propos > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.avant-propos p {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Chapitre */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.chapitre {
  page-break-before: always;
  page-break-after: always;
  display: table;
  width: 100%;
  height: 100%;
}

.chapitre > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.chapitre p,
.chapitre h1,
.chapitre h2,
.chapitre h3 {
  width: 100%;
  text-align: center;
}
